@use '../../scss/variables' as v;

.recipecard {
  text-decoration: none;

  background: v.$recipe-card-fill;

  border: v.$general-border;
  border-radius: v.$border-radius;

  box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.02);

  transition: filter v.$timing v.$timing-function;

  &:active {
    filter: brightness(0.9);
  }
}

.recipecardimage {
  position: relative;

  & img {
    //position: relative;
    width: 100%;
    height: 40%;

    border-radius: 15px;
  }
}
.recipecardimageshadow {
  position: absolute;
  top: 65%;
  left: 0%;

  opacity: 0.45;
  filter: blur(11px);
  transform: scale(0.8);

  z-index: -1;
}

.recipecardtext {
  color: v.$text;
  font-size: 15px;

  .recipecardtitle {
    font-weight: 500;
  }
}
