.bottom-nav {
    height: 100px;
    bottom: 0 !important;
}

.bottom-nav-item {
    margin-bottom: 41px;
    width: 100%;
    text-decoration: none;
    gap: 5px;
    border-radius: 500px;
}
.bottom-nav-item:hover {
    background: var(--clr-background-2);
}

.bottom-nav-label {
    color: var(--clr-foreground-2);
    text-decoration: none;
    text-align: center;
}

.bottom-nav-icon {
    width: 24px;
}

.selected svg {
    stroke: var(--clr-foreground-1);
}
.selected {
    font-weight: 500;
}