button {
    border: none;
    border-radius: 500px;

    font-weight: 500;

    padding: 15px 25px;

    transition: transform .2s ease-in-out,
                background .2s ease-in-out;
}
.button {
    text-decoration: none;
    text-align: center;

    font-weight: 500;

    border-radius: 500px;

    padding: 15px 25px;

    transition: transform .2s ease-in-out,
                background .2s ease-in-out;
}

.fill {
    background: var(--clr-brand);
    color: var(--clr-foreground-1);
}
.fill:active { 
    background: var(--clr-brand-foreground);
    transform: scale(.98);
}

.outline {
    background: none;
    border: 2px solid var(--clr-brand);
    color: var(--clr-brand-foreground);
}
.outline:active {
    background: var(--button-active);
    transform: scale(.98);
}

.ghost {
    color: var(--clr-brand-foreground);
    background: none;
}
.ghost:active {
    background: var(--button-active);
    transform: scale(.98);
}