* {
    --black-100: #000;
    --black-90:  #000000e6;
    --black-80:  #000000cc;
    --black-70:  #000000b9;
    --black-60:  #00000099;
    --black-50:  #00000080;
    --black-40:  #00000066;
    --black-30:  #0000004d;
    --black-20:  #00000033;
    --black-10:  #0000001a;
    --black-5:   #0000000d;

    --white-100: #fff;
    --white-90:  #ffffffe6;
    --white-80:  #ffffffcc;
    --white-70:  #ffffffb9;
    --white-60:  #ffffff99;
    --white-50:  #ffffff80;
    --white-40:  #ffffff66;
    --white-30:  #ffffff4d;
    --white-20:  #ffffff33;
    --white-10:  #ffffff1a;
    --white-5:   #ffffff0d;
}

body {
    background: var(--black-100);
    color: var(--white-100);
}

a { color: var(--white-80); }

.bg-black-100 { background: var(--black-100); }
.bg-black-90  { background: var(--black-90); }
.bg-black-80  { background: var(--black-80); }
.bg-black-70  { background: var(--black-70); }
.bg-black-60  { background: var(--black-60); }
.bg-black-50  { background: var(--black-50); }
.bg-black-40  { background: var(--black-40); }
.bg-black-30  { background: var(--black-30); }
.bg-black-20  { background: var(--black-20); }
.bg-black-10  { background: var(--black-10); }
.bg-black-5   { background: var(--black-5); }

.bg-white-100 { background: var(--white-100); }
.bg-white-90  { background: var(--white-90); }
.bg-white-80  { background: var(--white-80); }
.bg-white-70  { background: var(--white-70); }
.bg-white-60  { background: var(--white-60); }
.bg-white-50  { background: var(--white-50); }
.bg-white-40  { background: var(--white-40); }
.bg-white-30  { background: var(--white-30); }
.bg-white-20  { background: var(--white-20); }
.bg-white-10  { background: var(--white-10); }
.bg-white-5   { background: var(--white-5); }

.fg-black-100 { color: var(--black-100); }
.fg-black-90  { color: var(--black-90); }
.fg-black-80  { color: var(--black-80); }
.fg-black-70  { color: var(--black-70); }
.fg-black-60  { color: var(--black-60); }
.fg-black-50  { color: var(--black-50); }
.fg-black-40  { color: var(--black-40); }
.fg-black-30  { color: var(--black-30); }
.fg-black-20  { color: var(--black-20); }
.fg-black-10  { color: var(--black-10); }
.fg-black-5   { color: var(--black-5); }

.fg-white-100 { color: var(--white-100); }
.fg-white-90  { color: var(--white-90); }
.fg-white-80  { color: var(--white-80); }
.fg-white-70  { color: var(--white-70); }
.fg-white-60  { color: var(--white-60); }
.fg-white-50  { color: var(--white-50); }
.fg-white-40  { color: var(--white-40); }
.fg-white-30  { color: var(--white-30); }
.fg-white-20  { color: var(--white-20); }
.fg-white-10  { color: var(--white-10); }
.fg-white-5   { color: var(--white-5); }