* {
    --foreground-00: rgba(14, 14, 14, 1);
    --foreground-00-90: rgba(14, 14, 14, .9);
    --foreground-00-80: rgba(14, 14, 14, .8);
    --foreground-00-70: rgba(14, 14, 14, .7);
    --foreground-00-60: rgba(14, 14, 14, .6);
    --foreground-00-50: rgba(14, 14, 14, .5);
    --foreground-00-40: rgba(14, 14, 14, .4);
    --foreground-00-30: rgba(14, 14, 14, .3);
    --foreground-00-20: rgba(14, 14, 14, .2);
    --foreground-00-10: rgba(14, 14, 14, .1);
    --foreground-00-05: rgba(14, 14, 14, .05);

    --background-00: rgb(255, 255, 255);
}