@media (prefers-color-scheme: light) {
    * {
        --clr-background-1: #FFFBFB;
        --clr-background-2: #FAF0EF;

        --clr-foreground-1: #21100F;
        --clr-foreground-2: #9F8380;

        --clr-brand: #E9AFAB;
        --clr-brand-foreground: #A5716E;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --clr-background-1: #060303;
        --clr-background-2: #151111;
        
        --clr-foreground-1: #FFE7E6;
        --clr-foreground-2: #B58683;
        
        --clr-brand: #543533;
        --clr-brand-foreground: #8A5E5B;
    }
}

body {
    color: var(--clr-foreground-1);
    background: var(--clr-background-1);
}

.txt-brand { color: var(--clr-brand-foreground); }
.bac-brand { background: var(--clr-brand); }

.second-text { color: var(--clr-foreground-2); }