@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:ital,wght@0,900;1,900&display=swap');

body {
    font-family: -apple-system, 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-weight: 500;
    font-size: 17px;

}

.text-center { text-align: center; }
.bold { font-weight: 700; }
.italic { font-style: italic; }

.caption-2 { font-size: 11px; }
.caption-1 { font-size: 12px; }
.footnote { font-size: 13px; }
.subheadline { font-size: 15px; }
.callout { font-size: 16px; }
.headline { font-weight: 700; }
.large-text { font-size: 20px; }

.title-3 { 
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;
}
.title-2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 22px;
}
.title-1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 28px;
}
.large-title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 34px;
}
.xl-title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 44px;
}

.serif {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

p { margin: 0 }

button {
    font-family: 'Inter', sans-serif;
}

input { font-family: 'Inter', sans-serif; }