@use '../../scss/variables' as v;

.ckbutton {
  border: v.$general-border;
  border-radius: 15px;

  padding: 15px 20px;

  cursor: pointer;

  transition: background v.$timing v.$timing-function, color v.$timing v.$timing-function,
    box-shadow v.$timing v.$timing-function, filter v.$timing v.$timing-function,
    transform v.$timing v.$timing-function;

  &.buttonvarient-fill {
    background: v.$accent;

    box-shadow: 0px 20px 15px -10px v.$accent-shadow-color;

    &:hover {
      box-shadow: 0px 15px 10px -10px v.$accent-shadow-color;
      transform: translateY(1px);
    }
    &:active {
      transform: translateY(2px);
      box-shadow: none;
      filter: brightness(0.9);
    }
  }
}
