button {
    font-size: 15;

    color: var(--black-100);
    background: var(--white-100);

    padding: 20px 25px;

    border: none;
    border-radius: 50000px;

    cursor: pointer;

    transition: color .3s ease-in-out, background .3s ease-in-out;
}
button:hover { color: var(--black-80); }
button:active { background: var(--white-80); }

.button-second { 
    background: var(--white-10);
    color: var(--white-100);
}
.button-second:hover { color: var(--white-80) }
.button-second:active { background: var(--white-5) }