button {
    cursor: pointer;

    border: none;
    border-radius: 20px;

    padding: 17px 20px;

    font-size: 14px;
    font-weight: 600;

    transition: transform .1s ease-in-out, background .2s ease-in-out, border-color .2s ease-in-out;
}

.button {
    cursor: pointer;

    border: none;
    border-radius: 20px;

    padding: 17px 20px;

    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;

    transition: transform .1s ease-in-out, background .2s ease-in-out, border-color .2s ease-in-out;
}

.brand-cta {
    background: var(--clr-brand-100);
    color: var(--clr-background);
}
.brand-cta:hover {
    background: var(--clr-brand-90);
}
.brand-cta:active {
    transform: scale(.95);
    background: var(--clr-brand-100);
}

.brand-quiet {
    background: var(--clr-brand-10);
    color: var(--clr-brand-100)
}
.brand-quiet:hover {
    background: var(--clr-brand-20);
}
.brand-quiet:active {
    transform: scale(.95);
    background: var(--clr-brand-30);
}

.brand-outline {
    border: 2px solid var(--clr-brand-5);
    background: none;
    color: var(--clr-brand-100);
}
.brand-outline:hover {
    border-color: var(--clr-brand-20);
}
.brand-outline:active {
    transform: scale(.95);
    background: var(--clr-brand-10);
}
