input[type=password] {
    color: var(--foreground-00);
    background: var(--foreground-00-05);

    border-radius: 15px;
    border: none;
    outline-offset: -2px;

    padding: 15px 25px;
}
input[type=password]::placeholder { color: var(--foreground-00-60); }
input[type=password]:hover {
    outline: 2px solid var(--foreground-00-05);
}
input[type=password]:write {
    background: var(--background-00);
}