input[type=text] {
    background: var(--white-5);

    border: 1px solid var(--white-10);
    border-radius: 5000px;

    padding: 20px 25px;

    outline: none;
}
input[type=text]:not(:placeholder-shown) {
    background: none;
}

input { color: var(--white-100) }
input::placeholder {
    color: var(--white-20);
    font-style: italic;
}