input[type=password] {
    color: var(--clr-foreground-100);
    background: var(--clr-foreground-10);

    border: none;
    border-radius: 20px;
    outline: none;

    padding: 17px 20px;
}
input[type=password]::placeholder { color: var(--foreground-00-60); }
input[type=password]:hover {
    outline: 2px solid var(--foreground-00-05);
}
input[type=password]:write {
    background: var(--background-00);
}