.flex {
  display: flex;
}

.flex-dir-row {
  flex-direction: row;
}
.flex-dir-col {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-baseline {
  justify-content: baseline;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}

.gap-100 {
  gap: 100px;
}
.gap-95 {
  gap: 95px;
}
.gap-90 {
  gap: 90px;
}
.gap-85 {
  gap: 85px;
}
.gap-80 {
  gap: 80px;
}
.gap-75 {
  gap: 75px;
}
.gap-70 {
  gap: 70px;
}
.gap-65 {
  gap: 65px;
}
.gap-60 {
  gap: 60px;
}
.gap-55 {
  gap: 55px;
}
.gap-50 {
  gap: 50px;
}
.gap-45 {
  gap: 45px;
}
.gap-40 {
  gap: 40px;
}
.gap-35 {
  gap: 35px;
}
.gap-30 {
  gap: 30px;
}
.gap-25 {
  gap: 25px;
}
.gap-20 {
  gap: 20px;
}
.gap-15 {
  gap: 15px;
}
.gap-10 {
  gap: 10px;
}
.gap-5 {
  gap: 5px;
}
.gap-0 {
  gap: 0px;
}
