@use '../../scss/variable' as v;

button {
  padding: 15px 25px;

  border: none;
  border-radius: v.$border-radius;

  cursor: pointer;

  transition: filter v.$timing v.$timing-function, transform v.$timing v.$timing-function;

  &.text-fill {
    background: v.$text-color;
    color: #fff;

    &:hover {
      filter: brightness(0.9);
    }
    &:active {
      filter: brightness(0.8);
      transform: scale(0.99);
    }
  }
}
