@import url('./core/color.css');
@import url('./core/flex.css');
@import url('./core/layout.css');
@import url('./core/type.css');

@import url('./components/bottom-nav.css');
@import url('./components/button.css');
@import url('./components/chip.css');
@import url('./components/input.css');

* { 
  box-sizing: border-box;

  --body-margin: 35px;
}

body {
  margin: var(--body-margin);

  font-size: 14.14px;

  letter-spacing: -0.5px;
}

.app {
  max-width: 425px;
  min-width: 200px;

  margin-left: auto;
  margin-right: auto;

  height: calc(100vh - (var(--body-margin) * 2));
}