@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import url('./core/color.css');
@import url('./core/type.css');

@import url('./components/button.css');
@import url('./components/dialog.css');
@import url('./components/input.css');

* { box-sizing: border-box; }

body {
  font-family: -apple-system, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--foreground-00);
  background: var(--background-00);

  margin: 35px;

  font-size: 14.14px;

  letter-spacing: -0.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--foreground-00);
  font-style: italic;
}
a:hover {
  color: var(--foreground-00-80);
  text-decoration: none;
}