// Text
$text-font: 'Inter', sans-serif;
$text-letter-spacing: -0.04em;

// Color
$text-color: #000;
$subtext-color: #00000080;

$background-color: #fff;

$danger-color: red;

// General
$body-margin: 35px;
$max-width: 425px;

$border-radius: 15px;

$timing: 0.2s;
$timing-function: ease-in-out;
