@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import './variable';

@import './core/layout.scss';
@import './core/other.scss';
@import './core/text.scss';

body {
  margin: calc($body-margin / 2) $body-margin;

  font-family: $text-font;
  font-size: 15;
  font-weight: 500;
  letter-spacing: -0.04em;

  color: $text-color;
  background: $background-color;

  user-select: none;
  overscroll-behavior-y: contain;
}

.app {
  max-width: $max-width;
  margin: 0 auto;

  height: calc(100vh - $body-margin);

  display: flex;
  flex-direction: column;
  gap: 1%;
}
