// _ files are VARIABLE ONLY!
// @use './{path}/spacing' as s

// --- Normal Spacing ---
$space_sm: 0.5rem;
$space_med_1: 1rem;
$space_med_2: 1.5rem;
$space_med_3: 2rem;
$space_large_1: 2.5rem;
$space_large_2: 3rem;
$space_large_3: 3.5rem;

// --- Larger Spacing ---
$space_xlarge_1: 4rem;
$space_xlarge_2: 4.5rem;
$space_xlarge_3: 5rem;
$space_xxlarge_1: 5.5rem;
$space_xxlarge_2: 6rem;
$space_xxlarge_3: 6.5rem;
