// general
$body-margin: 40px;

// App.js
$max-width: 425px;
$min-width: 200px;

// color
$background: #fff;
$text: #000;
$sub-text: #00000080;
$accent: #c8ff62;
$accent-shadow-color: #c8ff6280;
$recipe-card-fill: #00000003;
$recipe-card-shadow-color: #00000005;

// transitions
$timing: 0.2s;
$timing-function: ease-in-out;

// border
$border-color: #0000000d;
$border-radius: 15px;
$border-thickness: 1px;
$general-border: $border-thickness solid $border-color;
