@use './spacing' as s;

body {
  padding: 0;
}

// --- Full padding ---
.padding_sm {
  padding: s.$space_sm;
}
.padding_med_1 {
  padding: s.$space_med_1;
}
.padding_med_2 {
  padding: s.$space_med_2;
}
.padding_med_3 {
  padding: s.$space_med_3;
}
.padding_lg_1 {
  padding: s.$space_large_1;
}
.padding_lg_2 {
  padding: s.$space_large_2;
}
.padding_lg_3 {
  padding: s.$space_large_3;
}
.padding_xlg_1 {
  padding: s.$space_xlarge_1;
}
.padding_xlg_2 {
  padding: s.$space_xlarge_2;
}
.padding_xlg_3 {
  padding: s.$space_xlarge_3;
}
.padding_xxlg_1 {
  padding: s.$space_xxlarge_1;
}
.padding_xxlg_2 {
  padding: s.$space_xxlarge_2;
}
.padding_xxlg_3 {
  padding: s.$space_xxlarge_3;
}

// --- X padding ---
.padding_x_sm {
  padding-left: s.$space_sm;
  padding-right: s.$space_sm;
}
.padding_x_med_1 {
  padding-left: s.$space_med_1;
  padding-right: s.$space_med_1;
}
.padding_x_med_2 {
  padding-left: s.$space_med_2;
  padding-right: s.$space_med_2;
}
.padding_x_med_3 {
  padding-left: s.$space_med_3;
  padding-right: s.$space_med_3;
}
.padding_x_lg_1 {
  padding-left: s.$space_large_1;
  padding-right: s.$space_large_1;
}
.padding_x_lg_2 {
  padding-left: s.$space_large_2;
  padding-right: s.$space_large_2;
}
.padding_x_lg_3 {
  padding-left: s.$space_large_3;
  padding-right: s.$space_large_3;
}
.padding_x_xlg_1 {
  padding-left: s.$space_xlarge_1;
  padding-right: s.$space_xlarge_1;
}
.padding_x_xlg_2 {
  padding-left: s.$space_xlarge_2;
  padding-right: s.$space_xlarge_2;
}
.padding_x_xlg_3 {
  padding-left: s.$space_xlarge_3;
  padding-right: s.$space_xlarge_3;
}
.padding_x_xxlg_1 {
  padding-left: s.$space_xxlarge_1;
  padding-right: s.$space_xxlarge_1;
}
.padding_x_xxlg_2 {
  padding-left: s.$space_xxlarge_2;
  padding-right: s.$space_xxlarge_2;
}
.padding_x_xxlg_3 {
  padding-left: s.$space_xxlarge_3;
  padding-right: s.$space_xxlarge_3;
}

// --- Y padding ---
.padding_y_sm {
  padding-top: s.$space_sm;
  padding-bottom: s.$space_sm;
}
.padding_y_med_1 {
  padding-top: s.$space_med_1;
  padding-bottom: s.$space_med_1;
}
.padding_y_med_2 {
  padding-top: s.$space_med_2;
  padding-bottom: s.$space_med_2;
}
.padding_y_med_3 {
  padding-top: s.$space_med_3;
  padding-bottom: s.$space_med_3;
}
.padding_y_lg_1 {
  padding-top: s.$space_large_1;
  padding-bottom: s.$space_large_1;
}
.padding_y_lg_2 {
  padding-top: s.$space_large_2;
  padding-bottom: s.$space_large_2;
}
.padding_y_lg_3 {
  padding-top: s.$space_large_3;
  padding-bottom: s.$space_large_3;
}
.padding_y_xlg_1 {
  padding-top: s.$space_xlarge_1;
  padding-bottom: s.$space_xlarge_1;
}
.padding_y_xlg_2 {
  padding-top: s.$space_xlarge_2;
  padding-bottom: s.$space_xlarge_2;
}
.padding_y_xlg_3 {
  padding-top: s.$space_xlarge_3;
  padding-bottom: s.$space_xlarge_3;
}
.padding_y_xxlg_1 {
  padding-top: s.$space_xxlarge_1;
  padding-bottom: s.$space_xxlarge_1;
}
.padding_y_xxlg_2 {
  padding-top: s.$space_xxlarge_2;
  padding-bottom: s.$space_xxlarge_2;
}
.padding_y_xxlg_3 {
  padding-top: s.$space_xxlarge_3;
  padding-bottom: s.$space_xxlarge_3;
}

// --- padding Top ---
.padding_top_sm {
  padding-top: s.$space_sm;
}
.padding_top_med_1 {
  padding-top: s.$space_med_1;
}
.padding_top_med_2 {
  padding-top: s.$space_med_2;
}
.padding_top_med_3 {
  padding-top: s.$space_med_3;
}
.padding_top_lg_1 {
  padding-top: s.$space_large_1;
}
.padding_top_lg_2 {
  padding-top: s.$space_large_2;
}
.padding_top_lg_3 {
  padding-top: s.$space_large_3;
}
.padding_top_xlg_1 {
  padding-top: s.$space_xlarge_1;
}
.padding_top_xlg_2 {
  padding-top: s.$space_xlarge_2;
}
.padding_top_xlg_3 {
  padding-top: s.$space_xlarge_3;
}
.padding_top_xxlg_1 {
  padding-top: s.$space_xxlarge_1;
}
.padding_top_xxlg_2 {
  padding-top: s.$space_xxlarge_2;
}
.padding_top_xxlg_3 {
  padding-top: s.$space_xxlarge_3;
}

// --- padding Right ---
.padding_right_sm {
  padding-right: s.$space_sm;
}
.padding_right_med_1 {
  padding-right: s.$space_med_1;
}
.padding_right_med_2 {
  padding-right: s.$space_med_2;
}
.padding_right_med_3 {
  padding-right: s.$space_med_3;
}
.padding_right_lg_1 {
  padding-right: s.$space_large_1;
}
.padding_right_lg_2 {
  padding-right: s.$space_large_2;
}
.padding_right_lg_3 {
  padding-right: s.$space_large_3;
}
.padding_right_xlg_1 {
  padding-right: s.$space_xlarge_1;
}
.padding_right_xlg_2 {
  padding-right: s.$space_xlarge_2;
}
.padding_right_xlg_3 {
  padding-right: s.$space_xlarge_3;
}
.padding_right_xxlg_1 {
  padding-right: s.$space_xxlarge_1;
}
.padding_right_xxlg_2 {
  padding-right: s.$space_xxlarge_2;
}
.padding_right_xxlg_3 {
  padding-right: s.$space_xxlarge_3;
}

// --- padding Bottom ---
.padding_bottom_sm {
  padding-bottom: s.$space_sm;
}
.padding_bottom_med_1 {
  padding-bottom: s.$space_med_1;
}
.padding_bottom_med_2 {
  padding-bottom: s.$space_med_2;
}
.padding_bottom_med_3 {
  padding-bottom: s.$space_med_3;
}
.padding_bottom_lg_1 {
  padding-bottom: s.$space_large_1;
}
.padding_bottom_lg_2 {
  padding-bottom: s.$space_large_2;
}
.padding_bottom_lg_3 {
  padding-bottom: s.$space_large_3;
}
.padding_bottom_xlg_1 {
  padding-bottom: s.$space_xlarge_1;
}
.padding_bottom_xlg_2 {
  padding-bottom: s.$space_xlarge_2;
}
.padding_bottom_xlg_3 {
  padding-bottom: s.$space_xlarge_3;
}
.padding_bottom_xxlg_1 {
  padding-bottom: s.$space_xxlarge_1;
}
.padding_bottom_xxlg_2 {
  padding-bottom: s.$space_xxlarge_2;
}
.padding_bottom_xxlg_3 {
  padding-bottom: s.$space_xxlarge_3;
}

// --- padding Left ---
.padding_left_sm {
  padding-left: s.$space_sm;
}
.padding_left_med_1 {
  padding-left: s.$space_med_1;
}
.padding_left_med_2 {
  padding-left: s.$space_med_2;
}
.padding_left_med_3 {
  padding-left: s.$space_med_3;
}
.padding_left_lg_1 {
  padding-left: s.$space_large_1;
}
.padding_left_lg_2 {
  padding-left: s.$space_large_2;
}
.padding_left_lg_3 {
  padding-left: s.$space_large_3;
}
.padding_left_xlg_1 {
  padding-left: s.$space_xlarge_1;
}
.padding_left_xlg_2 {
  padding-left: s.$space_xlarge_2;
}
.padding_left_xlg_3 {
  padding-left: s.$space_xlarge_3;
}
.padding_left_xxlg_1 {
  padding-left: s.$space_xxlarge_1;
}
.padding_left_xxlg_2 {
  padding-left: s.$space_xxlarge_2;
}
.padding_left_xxlg_3 {
  padding-left: s.$space_xxlarge_3;
}
