.topnavbtn {
    padding: 0;
    border: none;
    border-radius: 10000px;
    width: 48px;
    height: 48px;
    background: var(--white-5);

    cursor: pointer;
}
.topnavbtn:hover {
    background: var(--white-10);
}
.topnavbtn:active {
    background: var(--white-5);
}

.topnavtitle {
    color: red;
}