@use '../../scss/variables' as v;

.topnavbtn {
  padding: 0;
  border: none;
  border-radius: 10000px;
  width: 48px;
  height: 48px;
  background: var(--white-5);

  cursor: pointer;

  &.topnavbtn svg path {
    stroke: v.$text;
  }

  &.topnavbtn {
    border: v.$general-border;
    border-radius: 15px;

    background: v.$recipe-card-fill;

    &.topnavbtn:active {
      filter: brightness(0.9);
    }
  }
}
.topnavtitle {
  font-weight: 700;
}
